<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Alunos</title>
</head>
<body>
    
    <h1>Lista de Alunos</h1>

    <table>
        <tr>
            <th>N°</th>
            <th>Nome</th>
            <th>Matrícula</th>
        </tr>


        {% for aluno in alunos %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{aluno.nome}}</td>
                <td>{{aluno.matricula}}</td>
                <td><a href="{% url 'detalhes' aluno.id %}">Ver Detalhes!</a></td>
            </tr>

        {% endfor %}
    </table>

</body>
</html>